
.listado-colecciones{
	display: flex;
	flex-direction: row;
}

.info-coleccion{
	margin-left: 5px;
	margin-top: 5px;
}

@media (min-width: 801px){
	.body-comic {
		display: flex;
		flex-direction: row;
	}

	.body-coleccion {
		display: inline-flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.imagen-movil {
		display: none;
	}

	.imagen-galeria-movil {
		display: none;
	}

	.imagen-galeria{
		float: left;
		clear: none;
	}

	.imagen-listado-galeria-movil {
		display: none;
	}

}

@media (min-width: 501px) and (max-width: 800px){
	.body-comic {
		display: flex;
		flex-direction: column;
	}

	.body-coleccion {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.imagen-movil {
		display: none;
	}

	.imagen-galeria-movil {
		display: none;
	}

	.imagen-galeria{
		float: left;
		clear: none;
	}

	.imagen-listado-galeria-movil {
		display: none;
	}
}

@media (max-width: 500px){
	.body-comic {
		display: flex;
		flex-direction: column;
	}

	.body-coleccion {
		display: flex;
		flex-direction: column;
	}

	.imagen-normal {
		display: none;
	}

	.imagen-galeria {
		display: none;
	}

	.imagen-galeria-movil{
		float: left;
		clear: none;
	}

	.imagen-listado-galeria {
		display: none;
	}

}